.LoginAllMain {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
  .welcomeScreen {
    transition: opacity 0.5s;
    
    height: 100vh;
    max-width: 600px;
    width: 100%;
    &__logo1 {
      background: url('@/assets/images/logowelcome1.png') no-repeat center
        center;
      background-size: cover;
      width: 100% !important;
      height: 40% !important;
    }
    &__logo2 {
      background: linear-gradient(
        180deg,
        rgba(59, 34, 161, 0) -66.46%,
        #3b22a1 34.99%
      ) !important;
      width: 100% !important;
      height: 60% !important;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
  .LoginAll {
    height: 100vh;
    max-width: 600px;
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
    background: url('@/assets/images/logologin1.png') no-repeat center center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    .text1 {
      font-size: 28px;
      font-style: normal;
      font-weight: 700;
      line-height: 150%; /* 42px */
      letter-spacing: -0.32px;
    }
    .texthave {
      color: #393939;
      text-align: center;
      font-size: 13px;
      font-style: normal;
      font-weight: 400;
      line-height: 28px; /* 215.385% */
      letter-spacing: -0.165px;
    }
    .textres {
      color: #3b22a1;
      font-size: 13px;
      font-style: normal;
      font-weight: 600;
      line-height: 28px;
      letter-spacing: -0.165px;
      cursor: pointer;
    }
  }
}
